:root{

    --offwhite: #DED9E2;
    --red: #DF2935;
    --blue: #4392F1;
    --white: #FCF7FF;

    --font-one: 'Righteous', cursive; ;
    --font-two: 'Open Sans Condensed', sans-serif; ;
    --font-three: 'Indie Flower', cursive; ;
}